AP_Admin/admin/cPos.Admin.Task/Service References/AdvertiseOrderServiceReference/AdvertiseOrderWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiseOrderInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiseOrderInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetAdvertiseOrderInfosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiseOrderAdvertiseInfoXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiseOrderAdvertiseInfoXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetAdvertiseOrderAdvertiseInfoXMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiseOrderUnitInfoXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiseOrderUnitInfoXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetAdvertiseOrderUnitInfoXMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiseInfoXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdvertiseInfoXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetAdvertiseInfoXMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiseOrderInfosSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdvertiseOrderInfos" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiseOrderInfosSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdvertiseOrderInfosResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiseOrderAdvertiseInfoXMLSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdvertiseOrderAdvertiseInfoXML" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiseOrderAdvertiseInfoXMLSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdvertiseOrderAdvertiseInfoXMLResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiseOrderUnitInfoXMLSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdvertiseOrderUnitInfoXML" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiseOrderUnitInfoXMLSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdvertiseOrderUnitInfoXMLResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiseInfoXMLSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdvertiseInfoXML" />
  </wsdl:message>
  <wsdl:message name="SetAdvertiseInfoXMLSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdvertiseInfoXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="AdvertiseOrderWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseOrderInfos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置广告播放订单信息</wsdl:documentation>
      <wsdl:input message="tns:SetAdvertiseOrderInfosSoapIn" />
      <wsdl:output message="tns:SetAdvertiseOrderInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseOrderAdvertiseInfoXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置广告播放订单与广告关系信息</wsdl:documentation>
      <wsdl:input message="tns:SetAdvertiseOrderAdvertiseInfoXMLSoapIn" />
      <wsdl:output message="tns:SetAdvertiseOrderAdvertiseInfoXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseOrderUnitInfoXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置广告播放订单与门店关系信息</wsdl:documentation>
      <wsdl:input message="tns:SetAdvertiseOrderUnitInfoXMLSoapIn" />
      <wsdl:output message="tns:SetAdvertiseOrderUnitInfoXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseInfoXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置广告信息</wsdl:documentation>
      <wsdl:input message="tns:SetAdvertiseInfoXMLSoapIn" />
      <wsdl:output message="tns:SetAdvertiseInfoXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdvertiseOrderWebServiceSoap" type="tns:AdvertiseOrderWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseOrderInfos">
      <soap:operation soapAction="http://tempuri.org/SetAdvertiseOrderInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseOrderAdvertiseInfoXML">
      <soap:operation soapAction="http://tempuri.org/SetAdvertiseOrderAdvertiseInfoXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseOrderUnitInfoXML">
      <soap:operation soapAction="http://tempuri.org/SetAdvertiseOrderUnitInfoXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseInfoXML">
      <soap:operation soapAction="http://tempuri.org/SetAdvertiseInfoXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdvertiseOrderWebServiceSoap12" type="tns:AdvertiseOrderWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseOrderInfos">
      <soap12:operation soapAction="http://tempuri.org/SetAdvertiseOrderInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseOrderAdvertiseInfoXML">
      <soap12:operation soapAction="http://tempuri.org/SetAdvertiseOrderAdvertiseInfoXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseOrderUnitInfoXML">
      <soap12:operation soapAction="http://tempuri.org/SetAdvertiseOrderUnitInfoXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdvertiseInfoXML">
      <soap12:operation soapAction="http://tempuri.org/SetAdvertiseInfoXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdvertiseOrderWebService">
    <wsdl:port name="AdvertiseOrderWebServiceSoap" binding="tns:AdvertiseOrderWebServiceSoap">
      <soap:address location="http://192.168.0.55:8201/webservice/AdvertiseOrderWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdvertiseOrderWebServiceSoap12" binding="tns:AdvertiseOrderWebServiceSoap12">
      <soap12:address location="http://192.168.0.55:8201/webservice/AdvertiseOrderWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>