AP_Admin/admin/Service/Web References/CustomerWebServices/CustomerInfoInit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCustomerInfoInit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCustomerInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUnitInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMenu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCustomerInfoInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetCustomerInfoInitResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SetCustomerInfoInitSoapIn">
    <wsdl:part name="parameters" element="tns:SetCustomerInfoInit" />
  </wsdl:message>
  <wsdl:message name="SetCustomerInfoInitSoapOut">
    <wsdl:part name="parameters" element="tns:SetCustomerInfoInitResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerInfoInitSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCustomerInfoInit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置客户初始化信息</wsdl:documentation>
      <wsdl:input message="tns:SetCustomerInfoInitSoapIn" />
      <wsdl:output message="tns:SetCustomerInfoInitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerInfoInitSoap" type="tns:CustomerInfoInitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustomerInfoInit">
      <soap:operation soapAction="http://tempuri.org/SetCustomerInfoInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerInfoInitSoap12" type="tns:CustomerInfoInitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustomerInfoInit">
      <soap12:operation soapAction="http://tempuri.org/SetCustomerInfoInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerInfoInit">
    <wsdl:port name="CustomerInfoInitSoap" binding="tns:CustomerInfoInitSoap">
      <soap:address location="http://192.168.0.55:8201/webservice/CustomerInfoInit.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerInfoInitSoap12" binding="tns:CustomerInfoInitSoap12">
      <soap12:address location="http://192.168.0.55:8201/webservice/CustomerInfoInit.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>