AP_Admin/admin/Service/Web References/CP/AuthBsWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMenuInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetMenuInfosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAppSysInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAppSysInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetAppSysInfosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPosInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="posInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPosInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPosInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SetMenuInfosSoapIn">
    <wsdl:part name="parameters" element="tns:SetMenuInfos" />
  </wsdl:message>
  <wsdl:message name="SetMenuInfosSoapOut">
    <wsdl:part name="parameters" element="tns:SetMenuInfosResponse" />
  </wsdl:message>
  <wsdl:message name="SetAppSysInfosSoapIn">
    <wsdl:part name="parameters" element="tns:SetAppSysInfos" />
  </wsdl:message>
  <wsdl:message name="SetAppSysInfosSoapOut">
    <wsdl:part name="parameters" element="tns:SetAppSysInfosResponse" />
  </wsdl:message>
  <wsdl:message name="SetPosInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SetPosInfo" />
  </wsdl:message>
  <wsdl:message name="SetPosInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SetPosInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthBsWebServicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMenuInfos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置菜单信息</wsdl:documentation>
      <wsdl:input message="tns:SetMenuInfosSoapIn" />
      <wsdl:output message="tns:SetMenuInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAppSysInfos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置应用系统信息</wsdl:documentation>
      <wsdl:input message="tns:SetAppSysInfosSoapIn" />
      <wsdl:output message="tns:SetAppSysInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPosInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置终端信息</wsdl:documentation>
      <wsdl:input message="tns:SetPosInfoSoapIn" />
      <wsdl:output message="tns:SetPosInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthBsWebServicesSoap" type="tns:AuthBsWebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuInfos">
      <soap:operation soapAction="http://tempuri.org/SetMenuInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAppSysInfos">
      <soap:operation soapAction="http://tempuri.org/SetAppSysInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPosInfo">
      <soap:operation soapAction="http://tempuri.org/SetPosInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthBsWebServicesSoap12" type="tns:AuthBsWebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMenuInfos">
      <soap12:operation soapAction="http://tempuri.org/SetMenuInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAppSysInfos">
      <soap12:operation soapAction="http://tempuri.org/SetAppSysInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPosInfo">
      <soap12:operation soapAction="http://tempuri.org/SetPosInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthBsWebServices">
    <wsdl:port name="AuthBsWebServicesSoap" binding="tns:AuthBsWebServicesSoap">
      <soap:address location="http://localhost:6750/cPos.WebSite/webservice/AuthBsWebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthBsWebServicesSoap12" binding="tns:AuthBsWebServicesSoap12">
      <soap12:address location="http://localhost:6750/cPos.WebSite/webservice/AuthBsWebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>